# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
backend/venv/

# Datasets / outputs
backend/cfg/DATASETS/
*.csv

# Env
backend/.env

# Editor
.vscode/
backend/.vscode/

# Entornos
.venv/
__pycache__/
*.pyc

# Configuración sensible
.env

# Base de datos local
backend/db/*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db